*{
    background: #F3F5FC;
}
#vector{
    position: absolute;
    left: 44px;
    top: 48px;
    
}
#ingreso-texto{
    position: absolute;
    width: 577px;
    height: 255px;
    left: 240px;
    top: 168px;
    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    border: none;
    outline: none;
}
::placeholder{
    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;  
}
#egreso-texto{
    position: absolute;
    width: 400px;
    left: 940px;
    top: 40px;
    right: 40px;
    bottom: 40px;
    resize: none;
}